.app{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.heading{
  font-size: 100px;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.add{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 500px;
  min-height: 300px;
  padding: 10px;
  color: #f5f5f5;
}

.todo_container{
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.textbox{
  display: flex;
}

.todo_comp{
  margin-top: 11px;
  text-decoration: line-through;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color:  rgb(102, 133, 143);
}

.todo_incomp{
  font-size: 19px;
  margin-top: 9px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.register_form{
  display: grid;
}

.input{
  margin-bottom: 30;
}

.count{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 5px;
}

.creator{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 90%;
  margin-top: 5px;
  margin-left: 200px;
  margin-top: 12px;
}